html {
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
}
button {
    background-color: #F84646;
    color: #FFF;
    font-weight: 500;
    font-size: 24px;
    padding: 8px 24px ;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
h1 {
    font-size: 64px;
    font-weight: 800;
    margin: 0;
}
h2 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}
#presentation-container {
    padding: 40px 120px;
    height: 600px;
}

#presentation {
    position: relative;
    top: calc(50% - 150px);
}

.container {
    padding: 160px 120px;
    text-align: center;
}

.contact-title {
    margin-top: 8px;
}

.container > p {
    margin-top: 24px;
}

.container > button {
    margin-top: 32px;
}